{% extends 'base.html.twig' %}

{% block body_id 'profile' %}

{% block main %}

            <section class="content-section-small text-center">
        <div class="col-lg-8 col-lg-offset-2">

            <h4>Hi, {{ user.fullName }}!</h4>
            <h6>We are pleased to see you around</h6>
        </div>
        </div>
        </section>

    {% if chapters|length != 0 %}
        <section class="content-section-small">
            <div class="container">

                <div class="row">
                    <div class="col-lg-12">
                        <h1 class="page-header">My Chapters</h1>
                    </div>

                        {% for chapter in chapters %}
                            <div class="col-lg-4 col-md-4 col-xs-6 thumb">
                                <div class="thumbnail">
                                    <header>
                                        <div>{{ chapter.bookTitle }}</div>
                                    </header>
                                    <p>
                                        <div>{{ chapter.chapterTitle }}</div>
                                    </p>
                                    <footer>
                                        <div class="pull-right">
                                            <a class="btn btn-default btn-xs" href="{{ path('chapter_view', {'id': chapter.id}) }}">Read more &raquo;</a>
                                        </div>
                                    </footer>
                                </div>
                            </div>
                        {% endfor %}
                </div>

            </div>
        </section>
    {% endif %}
{% endblock %}