{% extends 'base.html.twig' %}

{% block body_id 'profile' %}

{% block main %}
    <section class="content-section">
            <div class="container body-content span=8 offset=2">
                <div class=class="container content-section text-center">
                        EMAIL: {{ user.email }}
                            <br>
                        FULLNAME: {{ user.fullName }}
                </div>

    </section>
{% endblock %}