{% extends 'base.html.twig' %}

{% block body_id 'profile' %}

{% block main %}
    <section class="content-section text-left">
        <div>
            EMAIL: {{ user.email }}
        </div>
                <br>
        <div>
            FULLNAME: {{ user.fullName }}
        </div>
    </section>
{% endblock %}