{% extends 'base.html.twig' %}

{% block body_id 'login' %}

{% block main %}

    <!-- Log in/Log out Section -->
    <section id="securitywindow" >

        <div class="form">
            <ul class="tab-group">
                <li class="tab active"><a href="#log">Sign In</a></li>
                <li class="tab"><a href="#signup">Sign Up</a></li>
            </ul>

            <div class="tab-content">

                <div id="log">
                    <h1>Welcome Back!</h1>

                    <form name="authenticate" action="{{ path('security_login') }}" method="post">

                        <div class="field-wrap">
                            <label for="user_email">
                                Email Address<span class="req">*</span>
                            </label>
                            <input type="email" id="user_email" name="_username" required autocomplete="off"/>
                        </div>

                        <div class="field-wrap">
                            <label for="password">
                                Password<span class="req">*</span>
                            </label>
                            <input type="password" id="password" name="_password" required autocomplete="off"/>
                        </div>

                        <div class="forgot"><a href="mailto:support@graphoo.com">Forgot Password?</a></div>
                        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}"/>
                        <button class="button button-block">Sign In</button>
                    </form>
                </div>

                <div id="signup">
                    <h1>Sign Up for Free</h1>
                    <form name="authenticate" action="{{ path('homepage') }}" method="post">

                            <div class="field-wrap">
                                <label for="user_email">
                                    Email Address<span class="req">*</span>
                                </label>
                                <input type="email" required autocomplete="off" id="user_email" name="user[email]">
                            </div>

                            <div class="field-wrap">
                                <label for="user_fullName">
                                    Full Name<span class="req">*</span>
                                </label>
                                <input type="text" id="user_fullName" name="user[fullName]" required autocomplete="off">
                            </div>

                            <div class="field-wrap">
                                <label for="user_password_first">
                                    Set A Password<span class="req">*</span>
                                </label>
                                <input type="password" id="user_password_first" name="user[password][first]" required autocomplete="off">
                            </div>

                            <div class="field-wrap">
                                <label for="user_password_second">
                                    Confirm The Password<span class="req" >*</span>
                                </label>
                                <input type="password" id="user_password_second" name="user[password][second]" required autocomplete="off">
                            </div>
                            <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}"/>
                            <button type="submit" class="button button-block">Get Started</button>
                    </form>
                </div>
            </div>
            </div>
    </section>

{% endblock %}
